<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Common Voice</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Contribute</a></li>
        <li><a href="#">Dataset</a></li>
        <li><a href="#">Languages</a></li>
        <li><a href="#">About</a></li>
        <li><img src="/assets/image/record_voice.png"></li>
        <li><a class="button outline rounded">Login / Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>
