* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.button.outline {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: min-content;
  color: black;
  margin-left: 600px;
}

.button.outline1 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: min-content;
  color: black;
  margin-left: 20px;
}

.record_voice {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  margin-left: 70px;
}

.item {
  margin-left: 50px;
  font-size: 20px;
}

.avatar {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  margin-left: 600px;
}

