<footer class="footer-nav">
  <div class="row">
    <div class="col-md-4">
      <h5 class="name">Voice Viet</h5>
      <img class="usth" src="/assets/image/usth_1.png">
    </div>
    <div class="col-md-4">
      <h5 class="text-center">FAQ</h5>
      <h5 class="text-center"><a href="https://github.com/dannguyen99/voice.mozilla_by_DreamTeam" class="github">Github</a></h5>
    </div>
    <div class="col-md-4">
      <h5 class="text-center">Help us find others to donate their voice</h5>
      <div class="row">
        <img class="facebook" src="/assets/image/facebook.png">
        <img class="twitter" src="/assets/image/twitter.png">
      </div>
    </div>
  </div>
  <div class="text-center align-content-lg-between py-3 ">
    <h5 class="copyright">© Copyright 2020 by Dream Team</h5>
  </div>
</footer>
