<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/fun.css">
    <title>Fun Exercise!</title>
</head>

<body>
    <h1>
        Welcome to the rice field!
    </h1>
    <h2>Mothafucka!</h2>

    <div class="sbox">
        <select name="employee" id="emp">
            <div class="select_options">
                <option value="select" disabled selected>-- Select an option --</option>
                <option value="suck">Suck</option>
                <option value="my">My</option>
                <option value="dick">Dick</option>
                <option value="franklin">Franklin Clinton</option>
                <option value="michael">Michael De Santa</option>
                <option value="trevor">Trevor Philips</option>
            </div>
        </select>
    </div>

    <h2>FBI Intelligence</h2>
    <div id="bio">
        Who is this guy?
    </div>

    <div id="remove_container">
        <h2>Remove?</h2>
        <button id="emp_remove">Remove a criminal</button>
    </div>
   
    <h2>Contribute now!</h2>
    <button id="contr_btn" type="button">Contribute to the database!</button>

    <div class="form_body">
        <form action="" method="post">
            <table>
                <tr>
                    <td>
                        <label for="emp_name">Name:</label>
                    </td>
                    <td>
                        <input type="text" name="name" id="emp_name" placeholder="Name...">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="emp_age">Age:</label>
                    </td>
                    <td>
                        <input type="text" name="age" id="emp_age" placeholder="Age...">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="emp_job">Job:</label>
                    </td>
                    <td>
                        <input type="text" name="job" id="emp_job" placeholder="Job...">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="emp_add_btn" type="button">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>


    <script src="/scripts/jquery-3.4.1.js"></script>
    <script src="/scripts/fun.js"></script>
</body>

</html>