<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Quote</title>
</head>

<body>
    <form action="/quotes" method="POST">
        <input type="text" name="author" value=""><br />
        <input type="text" name="content" value=""><br />
        <button type="submit">Submit</button>
    </form>

    <h2>Check out my collection of quotes</h2>
    <ul>
        <% quotes.forEach(function(quote) { %>
        <li>
            <%= quote.content %> - <%= quote.author %>
        </li>
        <% }); %>
    </ul>

    <h2>Test removing a quote</h2>
    <form action="/quote_remove" method="POST">
        <button type="submit">Remove</button>
    </form>

</body>

</html>