<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<nav class="navbar navbar-default bg-danger">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" style="cursor: pointer;" routerLink="/home"><img src="/assets/image/back.png" class="back"></li>
      </ul>
    </div>
  </div>
</nav>
<body>
  <div class="signupbox">
    <h1>
        Sign Up
    </h1>
      <div class="signup">
        <form>
          <label> First Name</label>
          <input #firstName type="text" name="myusername" />
          <label> Last Name</label>
          <input #lastName type="text" name="myusername" />
          <label> Email</label>
          <input #email type="text" name="myusername" />
          <label> Password </label>
          <input #password type="password" name="mypassword" />
          <input type="button" name="submit" value="Sign Up" (click)="onSignUp()" />
        </form>
      </div>
</div>
</body>
</html>
