div.scroll {
  background-color: transparent;
  margin-left: 65px;
  width: 600px;
  height: 480px;
  overflow: auto;
  text-align: justify;
  padding: 20px;
  font-size: 30px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
  font-size: 20px;
}
