<div class="scroll">
  <p (click)="select('benefit1')">1. Make your submitted data as rich as possible by providing some anonymous demographic data. We de-identify all demographic data before making it public.</p>
  <p (click)="select('benefit2')">2. Profile information improves the audio data used in training speech recognition accuracy.</p>
  <p (click)="select('benefit3')">3. Keep track of your progress and metrics across multiple languages.</p>
  <p (click)="select('benefit4')">4. See how your progress compares to other contributors all over the world.</p>
  <p (click)="select('benefit5')">5. View your progress against personal and project goals.</p>
  <p (click)="select('benefit6')">6. Optionally join on our email list for updates and new information about the project.</p>
</div>
