<div class="scroll">
  <p>1. We will not make your email public.</p>
  <p>2. The number of recordings and which languages you contribute to will be public.</p>
  <p>3. You can choose to make your username public or anonymous.</p>
  <p>4. Optionally submitted demographic data (e.g. age, sex, language, and accent) is de-identified from your submitted voice data and will never be made public on your profile.</p>
  <p>5. Your username and email will not be associated with the published data.</p>
</div>
