<div class="scroll">
  <p style="cursor: pointer;" (click)="select('public1')">1. We will not make your email public.</p>
  <p style="cursor: pointer;" (click)="select('public2')">2. The number of recordings and which languages you contribute to will be public.</p>
  <p style="cursor: pointer;" (click)="select('public3')">3. You can choose to make your username public or anonymous.</p>
  <p style="cursor: pointer;" (click)="select('public4')">4. Optionally submitted demographic data (e.g. age, sex, language, and accent) is de-identified from your submitted voice data and will never be made public on your profile.</p>
  <p style="cursor: pointer;" (click)="select('public5')">5. Your username and email will not be associated with the published data.</p>
</div>
