h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  text-align: center;
}

h5 {
  text-align: center;
}

.record {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 20%;
  height: 20%;
}

.check {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 20%;
  height: 20%;
}

.edit {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 20%;
  height: 20%;
}

.but {
  margin-left: 225px;
  margin-right: auto;
}

.but-check {
  margin-left: 415px;
  margin-right: auto;
}

.but-edit {
  margin-left: 430px;
  margin-right: auto;
}
