<h1>Main features</h1>
<div class="container-fluid">
  <div class="col-md-4">
    <h3>Record Voice</h3>
    <img src="/assets/image/record.png" class="record">
    <h5>Contribute to the voice database by recording your voice.</h5>
  </div>
  <div class="col-md-4">
    <h3>Evaluate</h3>
    <img src="/assets/image/check.png" class="check">
    <h5>Assessing the quality of pre-recorded recordings is equally important in improving the quality of voice database.</h5>
  </div>
  <div class="col-md-4">
    <h3>Edit Text</h3>
    <img src="/assets/image/edit.png" class="edit">
    <h5>Allows editing the text of automatic speech recognition</h5>
  </div>
</div>

<div>
  <button class="but btn btn-danger" routerLink="/contribute">RECORD</button>
  <button class="but-check btn btn-success">CHECK</button>
  <button class="but-edit btn btn-primary">EDIT</button>
</div>

